# ======================
# Python
# ======================

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

venv/
.env

# ======================
# Node
# ======================

node_modules/
package-lock.json
npm-debug.log

# ======================
# WA Session (WAJIB)
# ======================

wa-gateway/session/
session/

# ======================
# Storage (WAJIB)
# ======================

storage/
backend/storage/

# ======================
# OS
# ======================

.DS_Store
Thumbs.db

# ======================
# IDE
# ======================

.vscode/
.idea/

# ======================
# Logs
# ======================

*.log

# ======================
# Build Desktop
# ======================

dist/
build/

# ======================
# Database
# ======================

*.db
database.db